/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
  margin: 0 auto;
  /* height: 100vh; */
}

label {
  cursor: pointer;
}

.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 16px; */
  border-radius: 8px;
  padding: 24px;
  width: 360px;
  /* height: 296px; */
}
/* .feedback-form:first-child{ */
/* display: block; */
/* margin-bottom: 8px; */
/* } */

.feedback-form > label {
  /* width: 360px; */
  /* height: 72px; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.feedback-form > label:first-child {
  margin-bottom: 8px;
}

.feedback-form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.feedback-form > button:hover {
  background: #6c8cff;
}

.feedback-form input,
.feedback-form textarea {
  font-family: inherit;
  width: 338px;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 10px;
  outline: none;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}

.feedback-form input:active,
.feedback-form textarea:active {
  border: 1px solid #808080;
}

.feedback-form input {
  height: 100%;
  border-radius: 4px;
}

.feedback-form textarea {
  min-height: 62px;
  resize: none;
}
